<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
</head>
<body>
<h1>HOME</h1>

<h3>Lista de personas en la base de datos: </h3>
</ul>
     
    {% for p in object_list %}

    <li>
        <p> Nombre: {{ p.nombre }} </p>
    </li>
    {% endfor %}
    <a href="{% url 'crear_persona' %}">Agregar otra persona a la lista</a>
</ul>
</body>
</html>
